.about-container{
    color: white;
    width: 70%;
    margin-top: -550px;
    margin-left: 350px;
    background-color: #1E1E1F;
    
}
.about-container h3{
    text-align: start;
    color: #FFDB70;
}

.span-about{
    color: #FFDB70;
    font-size: 14px;
}
label{
    font-size: 14px;
}
p{
    font-size: 14px;
}
.about2-container{
    border: 1px solid rgb(132, 129, 129);
    display: flex;
    gap: 50px;
    justify-content: space-around;
    padding: 40px;
    border-radius: 10px;
}

.about2-container .left-side img{
    height: 180px;
    /* padding: 10px; */
    border-radius: 1000px;
}

.about2-container .right-side{
    /* margin-top: 50px; */
    border: 1px solid rgb(125, 124, 124);
    padding: 30px;
    border-radius: 10px;
}

.cs{
    border: 1px solid rgb(43, 40, 40);
    box-shadow: 2px 2px rgb(77, 76, 76);
    background-color: rgb(54, 50, 50);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.cs p{
    font-size: 12px;
    margin-left: 10px;
}

.h4-about{
    margin-top: 19px;
    margin-left: -17px;
    font-size: 20px;
}