/* Remove underline for all anchor tags inside .project-item */
.project-item a {
  text-decoration: none;
}

/* Ensure that project-title and project-category have no underline */
.project-title,
.project-category {
  text-decoration: none;
}

.portfolio {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: -550px;
  margin-left: 350px;
}

.h2.article-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: white;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
}

.project-item {
  padding: 5px;
  transition: transform 0.3s ease;
}

.project-item:hover {
  transform: scale(1.05);
}

.project-img img {
  width: 80%;
  height: auto;
  border-radius: 10px;
}

.project-title {
  font-size: 1rem;
  margin-top: 10px;
  text-decoration: none;
  color: aliceblue;
}

.project-category {
  color: #666;
  font-size: 0.9rem;
}

h3 {
  text-decoration: none;
}

p {
  text-decoration: none;
}
