@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: 'Outfit', sans-serif;
}

/* Show the <hr> inside elements with class "active" */
.active hr {
    display: block;
}

/* Hide the scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* Media query for screens smaller than 740px */
@media (max-width: 740px) {
    .active p {
        color: white;
        background-color: #3490dc; /* Replace with your Tailwind primary color */
    }
}
